{% extends 'base.html' %}
{% block content %}

<!-- Main code for table display -->
<div class="pageholder">
    <div class="titleholder"> 
        
        <div class="title"> Geocoding for {{location.name}} </div> 
        
    </div>

    <style>
        table, th, td {
          border:1px solid black;
          width:"100%"
        }
        </style>

    <div class="linkholder">
            <table id="ourtable3" class="myTable m-3" style = "width:40%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Zipcode</th>
                        <th>City</th>
                        <th>Country</th>
                        <th>Lat</th>
                        <th>Lng</th>
                        <th>Place id</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td> {{location.id}} </td>
                        <td> {{location.name}} </td>
                        <td> {{location.address}} </td>
                        <td> {{location.zipcode}} </td>
                        <td> {{location.city}} </td>
                        <td> {{location.country}} </td>
                        <td> {{lat}} </td>
                        <td> {{lng}} </td>
                        <td> {{place_id}} </td>
                    </tr>
                </tbody>

                
            </table>
</div>

<!-- sample of style -->
<!-- <html>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>

<h2>TD elements define table cells</h2>

<table style="width:10%">
  <tr>
    <td>Emil</td>
    <td>Tobias</td>
    <td>Linus</td>
  </tr>
</table>

<p>To understand the example better, we have added borders to the table.</p>

</body>
</html>     -->

{% endblock %}
