{% extends 'base.html' %}
{% block content %}

<!-- Main code for table display -->
<div class="pageholder">
    <div class="titleholder"> 
        
        <div class="title"> Google Maps API Data </div> 
        
    </div>

    <style>
        table, th, td {
          border:1px solid black;
          width:"100%"
        }
        </style>

    <div class="linkholder">
        {% if mydata.count == 0 %}
            <div> No data available </div>
        {% else %}
            <table id="ourtable3" class="myTable m-3" style = "width:40%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Zipcode</th>
                        <th>City</th>
                        <th>Country</th>
                        <th>Geocode link</th>
                       
                    </tr>
                </thead>

                <tbody>
                    {% for a in mydata %}
                    <tr>
                        <td> {{a.id}} </td>
                        <td> {{a.name}} </td>
                        <td> {{a.address}} </td>
                        <td> {{a.zipcode}} </td>
                        <td> {{a.city}} </td>
                        <td> {{a.country}} </td>
                        <td><a href="{%url 'GeoView' a.id %}"> Geocode!</a></td>
                    </tr>

                    {% endfor%}
                </tbody>

                
            </table>
        {% endif %}
     </div>




</div>

<!-- sample of style -->
<!-- <html>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>

<h2>TD elements define table cells</h2>

<table style="width:10%">
  <tr>
    <td>Emil</td>
    <td>Tobias</td>
    <td>Linus</td>
  </tr>
</table>

<p>To understand the example better, we have added borders to the table.</p>

</body>
</html>     -->

{% endblock %}
